.postContainer{
    width: 90%;
    background: var(--background-page); 
    box-shadow: var(--box-shadow);
    border-radius: 0.2rem;
    overflow: hidden;
    background: linear-gradient(to bottom left, var(--white-page), var(--white-page-gradient));
    padding: 1rem;
    margin: 0 auto;
}

.imageContainer{
   width: 100%;
   display: flex;
}

.image{
    margin: 0 auto 1rem auto;
    width: 30rem;
}

.textContainer{
    margin: 2rem;
}



.buttonContainer{
    width: 100%;
    display: flex;
    margin: 2rem 0 1rem 0;
}

.text,
.title,
.textBold{
    font-family: Monotype Corsiva;
    color:var(--brown-gradient);
}

.text{
    font-size: 25px;
    line-height: 50px;
    padding: 1rem 2rem;
}

.textBold{
    font-size: 30px;
    text-align: center;
    font-weight: bold;
    line-height: 30px;
    margin: 1rem 0;
}

.title{
    font-size: 40px;
    line-height: 30px;
    font-weight: bold;
    text-align: center;
    margin: 2rem 0 1.5rem 0;
}


@media only screen and (max-width: 800px) {
    .postContainer{
        width: 90;
    }

    .imageContainer{
        float: none;
    }

    .image{
        margin: 1rem auto;
        width: 15rem;
    }
}


@media only screen and (max-width: 500px) {
    .title{
        font-size: 35px;
    }

    .textBold{
        font-size: 25px;
    }

    .text{
        font-size: 22px;
        line-height: 40px;
        padding: 1rem 0;
    }

    .image{
        margin: 1rem auto;
        width: 12rem;
    }
}


@media only screen and (max-width: 400px) {

    .image{
        width: 10rem;
    }
    .text{
        font-size: 18px;
    }
}