.containerPerfil{
    padding: 0 1rem;
    display: flex;
    flex-direction: column; 
}

.containerPerfil h3{
    text-align: center;
}

.containerPerfil img{
    margin: auto;
    justify-content: center;
}

.socialmediaContainer{
    display: grid; 
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto;
    gap: 1rem;
    justify-items: center;
}

.text{
    
    font-size: 0.7rem;
    margin: 0;
    padding: 0.5rem 0;
  }