.nav{
    width: 100%;
    min-height: var(--height-navbar);
    display: flex;
    justify-content: center;
    background: linear-gradient(var(--background-layout-gradient), var(--background-layout));
    background: transparent;  
}

.containerNav{
    display: flex;
}

.containerNav > :Link{
    margin: 20px;
    color:  #fff ;
}

.a{
    color: var(--white-page);
    font-size: 1rem;
    font-weight: 500;
    align-self: flex-end;
}

