.nav{
    width: 100%;
    min-height: var(--height-navbar);
    display: flex;
    justify-content: center;
   
    border-top: 1px solid var(--secondary);
    /* box-shadow: 0 15px 25px rgba(0, 0, 0, 0.2); */
}


.containerNav{
    display: flex;
    column-gap: 10px;
}



.containerNav > :Link{
    margin: 20px;
    color:  #fff ;
}

.a{
    color: var(--secondary);
    font-size: 1rem;
    font-weight: 500;
    align-self: flex-end;
}

