@font-face {
    font-family: "Domine-regular";
    src: url("/fonts/domine/Domine.ttf");
 
}

@font-face {
    font-family: "Domine-bold";
    src: url("/fonts/domine/Domine-bold.ttf");
    font-weight: 900;
}


@font-face {
    font-family: "Inter";
    src: url("/fonts/inter/Inter.ttf");
    font-weight: 300;
}

:root{
    --primary: #b8dd2a;
    --primary-opacity3: #b8dd2a33;
    
    --secondary:#543c01;
    --secondary-gradient:#775602;
    /* --secondary-gradient-gradient:#776026; */
    --background:#fff;
    --background-layout: #bdb192;
    --background-layout-gradient: #ada388;
    --background-gradient:#eee;
    --background-page:#fff3e8;
    --background-page-gradient:#ddceb4;
    /* --background-page-footer:#c4af8d; */

    --box-shadow: 0 1rem 1rem rgba(0, 0, 0, 0.2);
    --font-title: Domine-bold;
    --font-base: Inter;
    --font-size: 1rem;
    --padding-standard: 1rem 1.5rem ;
    --padding-title: 2rem 2.5rem ;
    --padding-footer: 2rem 2.5rem 1rem 2rem;
    --height-navbar: 0.5rem;
}