@font-face {
    font-family: "Domine-regular";
    src: url("/fonts/domine/Domine.ttf");
 
}

@font-face {
    font-family: "Domine-bold";
    src: url("/fonts/domine/Domine-bold.ttf");
    font-weight: 900;
}


@font-face {
    font-family: "Inter";
    src: url("/fonts/inter/Inter.ttf");
    font-weight: 300;
}

:root{
    --green: #b8dd2a;
    --dark-green: #b8dd2a33; 
    --brown:#543c01;
    --brown-gradient:#775602;
    --white:#fff;   
    --white-gradient:#eee;
    --smoth-brown-layout: #cac0a6;
    --smoth-brown-layout-gradient: #c7bea6;
    --white-page:#f7f2ef;
    --white-page-gradient:#f3ede1;

    --box-shadow: 0 1rem 1rem rgba(0, 0, 0, 0.2);
    --font-title: Domine-bold;
    --font-base: Inter;
    --font-size: 1rem;
    --padding-standard: 1rem 1.5rem ;
    --padding-title: 2rem 2.5rem ;
    --padding-footer: 2rem 2.5rem 1rem 2rem;
    --height-navbar: 0.5rem;
}