.container{
    display: flex;
    width: fit-content;
    height: fit-content;
    cursor: pointer;
    margin: 0.5rem 0;
    background: var(--brown-gradient);
    border-radius: 3px;
    padding: 0.2rem;
}

.container:hover{
    outline: solid 5px var(--green);
}

.container:hover .text{
    color: var(--green);
}

.testButton{
    width: fit-content;
    height: fit-content;
    margin: auto 0.5rem;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
}
.text{
    font-family: var(--font-title);
    color:#fff; 
}
