
.container{
    width: 14vw;
    position: relative;
    height: fit-content;
    cursor: pointer;
    margin: 0.5rem 0;
}
.testButton{
    width: fit-content;
    height: fit-content;
    position: absolute;
    margin: auto;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    display: inline-block;
}

.text{
    color: #efeccb;
}

.container:hover .text{
    color:var(--green);
}


@media only screen and (max-width: 1000px) {
    .container{
        width: 17vw;
    }
    .text{
        font-size: 16px;
    }
}

@media only screen and (max-width: 800px) {
    .container{
        width: 16vw;
    }
    .container{
        margin: 0.2rem 0;
    }
    .text{
        font-size: 12px;
    }
}

@media only screen and (max-width: 600px) {
    .container{
        width: 14vw;
    }
    .container{
        margin: 0.1rem 0;
    }
    .text{
        font-size: 8px;
    }
}

@media only screen and (max-width: 500px) {
    .text{
        font-size: 8px;
    }
}

@media only screen and (max-width: 400px) {
    .text{
        font-size: 6px;
    }
}
