.footer{
    width: 100%;
    background: var(--secondary);
    color: #fff;
    border-radius: 5px;
    padding: 1rem 2rem;
    display: flex;
    align-items: flex-end;
    position: relative;
    bottom: 0;
}