.boxButtonContes{
    position: absolute;
    right: 0;
    bottom: 0;
    top:50%;
    display: flex;
    width: 40%;
    align-content: space-around;
    flex-wrap: wrap;
    margin: auto;
}

.buttonBook{
    width: 40%;
    margin: auto;
}


.elementPage{
    position: absolute;
  
  }