.postContainer{
    width: 98%;
    background: var(--background-page); 
    box-shadow: var(--box-shadow);
    border-radius: 0.2rem;
    overflow: hidden;
    background: linear-gradient(to bottom left, var(--white-page), var(--white-page-gradient));
}

.containerSections{
    display: flex;
    flex-direction: column;  
}

.containerSectionsText{
    width: 80%;
    margin: 0.5rem auto; 
    text-align: justify;
}

.postHeader{
    width: 100%;   
    display: flex;
    justify-items: center;
    /* border-bottom: var(--secondary) solid 1px; */
    position: relative;
    padding: 2rem;
    
}

.postHeaderTitle{
    border-bottom: var(--brown) solid 1px;
    padding: 0 0 0.5rem 1rem ;
    width: 100%;
}

.postBody{
    padding: 0 1.5rem;
    /* background: linear-gradient(to left, var(--background-page), var(--background-page-gradient)); */
}

.postHeaderTime{
    color: #555;
    position: absolute;
    right: 3rem;
    padding-top: 0.2rem;
    cursor: pointer;
    transition: font-style .5s;
}
.postHeaderTime:hover{
    font-style: italic;
    
}

.containerTags{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    justify-items: center;
    width: 80%;
    margin: 0.5rem auto;
}

.containerSrc{
    margin: 2rem auto;
    width: 70%;
    height: auto;
}

.src{
    width: 100%;
    height: auto;
    margin: 0 auto;
    border-radius: 0.2rem;
}

.postFooter{
    display: flex;
    flex-direction: column;
    /* border-top: var(--secondary) solid 2px; */
    width: 100%;
    padding: var(--padding-footer);
     /* background: linear-gradient(var(--background-page-gradient), var(--background-page-footer));  */
     
}

.makeItContainer{
    display: flex;
    flex-direction: column;
    margin: 1rem auto;
    border-top: var(--brown) solid 1px;
    padding-top: 0.5rem;
}

.textFooter{
    text-align: center;
    font-size: 0.7rem;
    margin: 0 auto;
    width: 90%;
}

.makeItTitle{
    font-size: 1rem;
}

.makeItTime{
    color: #555;
    text-align: center;
    font-size: 0.7rem;
}