.boxButtonContes{
    position: absolute;
    right: 0;
    bottom: 0;
    top:50%;
    display: flex;
    flex-direction: column;
    width: 40%;
    align-content: space-around;
    flex-wrap: wrap;
    margin: auto;
    background: red;
}

.buttonBook{
    width: 40%;
    margin: 1rem;
    
}


.elementPage{
    position: absolute;
  
  }