.head{
    /* color: var(--white-page); */
    text-align: center;
    width: 100%;
    /* background: linear-gradient(var(--secondary-gradient), var(--secondary)); */
    
}

.headTitle{
    /* background: linear-gradient(var(--brown-gradient), var(--brown)); */
    /* padding: 2rem 0;  
    box-shadow: 0 15px 25px rgba(0, 0, 0, 0.1); */
    width: 100%;
    position: relative;
}

.shreilakTitle{
    height: auto;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
}

.h1{ 
    text-align: center;
    width: auto;
}

@media only screen and (max-width: 600px) {
    .headTitle{
        width: 95%;
        margin: 0 auto;
    }
}