.bookContainer{
  width: 100%;
  height: 100%;
  position: relative;
}

.bookPageContainer{
  display: flex;
  flex-direction: column;
  margin: auto;
  width: 80%;
}

.bookPage{
  display: flex;
  position: relative;
}

.elementPage{
  position: absolute;

}

.boxButtonContes{
  position: absolute;
  right: 0;
  bottom: 0;
  top:50%;
  display: flex;
  width: 40%;
  align-content: space-around;
  flex-wrap: wrap;
  margin: auto;
}

.buttonBook{
    width: 40%;
    margin: auto;
}

.firstPage{
  width: 100%;
  display: none;
}

.secondPage{
  width: 100%;
}

.gridTwoLines{
  grid-column-start: 1;
  grid-column-end: 3;
}