.bookContainer{
  width: 100%;
  position: relative;
  background: red;
}

.bookPageContainer{
  position: absolute;
  display: flex;
  top: 0;
  left: 0;
  right: 0;
  margin: auto;
  background: blue;
}

.bookLeftPage{
  width: 50%;
  background: yellow;
}

.bookRightPage{
  width: 50%;
  background: green;
}