@import "themes/themes.css";

html,
body {
  padding: 0;
  margin: 0;
  font-family: var(--font-base);
  font-size: var(--font-size);
  background-color: var(--background);
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
