@import "themes/themes.css";

html,
body {
  padding: 0;
  margin: 0;
  font-family: var(--font-base);
  font-size: var(--font-size);
  font-size: 18px;
  line-height: 28px;
  background: var(--white-gradient);
}

h1,h2,h3,h4,h5,h6{
  font-family: var(--font-title);
  margin: 0;
}

a {
  font-family: var(--font-title);
  color: inherit;
  text-decoration: none;
}

p{
  padding: 0;
  margin: 0;
}

* {
  box-sizing: border-box;
}

@media only screen and (max-width: 800px) {
  body{
    font-size: 12px;
    line-height: 16px;
  }
}
