@import "themes/themes.css";

html,
body {
  padding: 0;
  margin: 0;
  font-family: var(--font-base);
  font-size: var(--font-size);
  font-size: 22px;
    line-height: 28px;
  background-color: var(--background);
}

h1,h2,h3,h4,h5,h6{
  font-family: var(--font-title);
  font-weight: 700;
}

a {
  font-family: var(--font-title);
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
