.main_column{
    background: #fff;
    width: 100%;
    margin: 2rem 0;
    box-shadow: 0 15px 25px rgba(0, 0, 0, 0.1);
    padding: var(--padding-standard);
    margin: var(--height-navbar) 0;

}

.bookPageContainer{
    display: flex;
    flex-direction: column;
    margin: auto;
    width: 100%;
    height: 100%;
  }